* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    background-color: #151515;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1975d1;
}

.editor-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    border: 1px solid #1975d1;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    font-family: monospace;
    background-color: #202020;
    transition: border-color 0.7s;
    color: #eee;
}

textarea:active,
textarea:focus,
textarea:hover {
    outline: none;
    border-color: #2ea820;
}

button {
    padding: 12px 20px;
    background-color: #1975d1;
    color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.7s;
}

button:hover {
    background-color: #2ea820;
}

#submitBtn {
    align-self: flex-end;
}

#beready {
    margin-top: 15px;
    text-align: center;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #252525;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #1975d1;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-buttons button {
    flex-basis: 48%;
}

#closeModal {
    width: 100%;
    background-color: #e74c3c;
}

#closeModal:hover {
    background-color: #c0392b;
}
